@import 'theme/typography';
@import 'theme/colors';

body,
html {
  background-color: $theme-background-color--primary;
  color: $typography-color--primary;
  font-family: $font-stack;
  font-weight: 300;
  height: 100%;
  margin: 0;
  overflow: scroll;
}

main {
  min-height: 81.1vh;
  position: relative;
}

/*
* atoms: typography
*/
h3 {
  font-size: $typography-size-tertiary;
  font-weight: 300;
}

h2 {
  font-size: $typography-size-secondary;
  font-weight: 300;
}

h1 {
  font-size: $typography-size-primary;
  font-weight: 300;
}

p {
  font-size: $typography-size-body;
  line-height: 1.5;
}

/* Typography: caption */
.mason-typography--caption {
  font-size: $typography-size-caption;
}

/* Typography: fine print */
.mason-typography--fineprint {
  color: $typography-color--tertiary;
  font-size: $typography-size-fineprint;
}

.mason-typography--fineprint-dark {
  color: darken($typography-color--primary-dark, 10%);
  font-size: $typography-size-fineprint;
}

/*
* atoms: text colors
*/
.atom-text-color--primary {
  color: $typography-color--primary;
}

.atom-text-color--secondary {
  color: $typography-color--secondary;
}

.atom-text-color--tertiary {
  color: $typography-color--tertiary;
}

.atom-text-color--primary-dark {
  color: $typography-color--primary-dark;
}

.atom-text-color--secondary-dark {
  color: $typography-color--secondary-dark;
}

.atom-text-color--tertiary-dark {
  color: $typography-color--tertiary-dark;
}

/*
* atoms: background colors
*/
.atom-background-color--primary {
  background-color: $theme-background-color--primary;
}

.atom-background-color--secondary {
  background-color: $theme-background-color--secondary;
}

.atom-background-color--tertiary {
  background-color: $theme-background-color--tertiary;
}

.atom-background-color--primary-dark {
  background-color: $theme-background-color--primary-dark;
}

.atom-background-color--secondary-dark {
  background-color: $theme-background-color--secondary-dark;
}

.atom-background-color--tertiary-dark {
  background-color: $theme-background-color--tertiary-dark;
}

/*
* atoms: links
*/
a {
  cursor: pointer;
}
