@import './theme/colors';
@import '@material/elevation/mixins';

$namespace: 'mason';
$block-name: $namespace + '-card';

.#{$block-name} {
  @include mdc-elevation(4);

  border-radius: 2px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 1em;
  width: 350px;

  &--content-center {
    justify-content: center;
    text-align: center;
  }

  &--full {
    width: 100%;
  }

  &--medium {
    width: 50%;
  }

  &--small {
    width: 33%;
  }

  &__media {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    object-fit: contain;
    overflow: hidden;
  }

  &__title {
    padding: 0 1.1em;
    padding-bottom: 0.625em;
    padding-top: 0.625em;
  }

  &__text {
    padding-bottom: 0.625em;
    padding-left: 1em;
    padding-right: 1em;
  }
}

@media (max-width: 450px) {
  .mason-card {
    margin: 0;
    max-width: 100%;
    padding-bottom: 1em;
    padding-top: 1em;

    &--medium {
      margin: 0;
      width: 100%;
    }

    &--small {
      margin: 0;
      width: 100%;
    }

    &--full {
      margin: 0;
      width: 100%;
    }
  }
}

/**
 * The following is mostly taken from https://codemyui.com/pure-css-material-quotation-cards/
 */
.#{$block-name}--quote {
  overflow: hidden;
  padding: 3em;
  position: relative;

  .#{$block-name}__text {
    margin: 0;
    max-width: 100%;
    padding: 0;
  }

  .#{$block-name}__cite {
    display: block;
    font-size: 16px;
    font-weight: 200;
    margin-top: 10px;
    opacity: 0.8;
  }

  &::before {
    color: rgba($typography-color--secondary, 0.2);
    content: '“';
    font-family: Georgia, serif;
    font-size: 5em;
    font-weight: normal;
    left: 10px;
    position: absolute;
    top: 10px;
  }

  &::after {
    bottom: -110px;
    color: rgba($typography-color--secondary, 0.05);
    content: '”';
    font-family: Georgia, serif;
    font-size: 25em;
    font-weight: normal;
    line-height: 100px;
    position: absolute;
    right: -32px;
  }

  @media (max-width: 640px) {
    &::after {
      font-size: 22em;
      right: -25px;
    }
  }
}
