@import './theme/colors';
@import '@material/elevation/mixins';

.mason-header {
  @include mdc-elevation(2);

  align-items: center;
  background: $theme-background-color--tertiary-dark;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  display: flex;
  font-weight: 200;
  height: 3.4375em;
  justify-content: space-between;
  width: 100%;

  &__title {
    color: $typography-color--primary-dark;
    font-weight: 200;
    padding-left: 0.8em;
    white-space: nowrap;
  }

  &__drawer-button {
    color: $typography-color--primary-dark;
    display: none;
  }
}

@media (max-width: 860px) {
  .mason-header {
    &__drawer-button {
      display: flex;
      padding-left: 1em;
    }

    .mason-navigation__item {
      display: none;
    }

    .mason-navigation__item.mason-navigation__item--small-screen {
      display: flex;
    }

    &__title {
      justify-self: center;
      margin: auto;
      padding-left: 0;
    }
  }
}

@media (max-width: 425px) {
  .mason-header {
    &__drawer-button {
      display: flex;
      padding-left: 0.5em;
    }

    .mason-navigation__list {
      padding: 0;
    }
  }
}
