@import './theme/colors';

.mason-navigation {
  align-items: center;
  color: $theme-background-color--primary-dark;
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: center;
}

.mason-navigation__list {
  align-items: center;
  align-self: flex-end;
  display: flex;
  height: 100%;
  list-style: none;
  margin: 0;
}

.mason-navigation__item {
  display: inline;
  font-weight: 300;
  padding: 0 1.2em;
}

.mason-navigation__item a {
  text-decoration-line: none;
}

.mason-navigation__item a:visited {
  color: $typography-color--primary-dark;
}
