@import './theme/colors';
$namespace: 'mason';
$block-name: $namespace + '-navigation';

.#{$block-name} {
  align-items: center;
  color: $theme-background-color--primary-dark;
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: center;

  &__list {
    align-items: center;
    align-self: flex-end;
    display: flex;
    height: 100%;
    list-style: none;
    margin: 0;
  }

  &__item {
    display: inline;
    font-weight: 300;
    padding: 0 1.2em;
  }

  &__item a {
    text-decoration-line: none;
  }

  &__item a:visited {
    color: $typography-color--primary-dark;
  }
}

.#{$block-name}--color-invert {
  color: $typography-color--primary;

  .#{$block-name}__item a:visited {
    color: $typography-color--primary;
  }
}
