$namespace: 'mason';
$block-name: $namespace + '-section';
$content-max-width: 1080px;

.#{$block-name} {
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 100%;

  img + p {
    margin-left: 2em;
  }

  &__content {
    align-items: left;
    align-self: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    max-width: $content-max-width;
    overflow: hidden;
    padding: 2em;
    width: 100%;
  }

  &__content--column {
    flex-direction: column;
  }

  &__content--center {
    align-items: center;
    justify-content: center;
  }

  &__content--row-top {
    align-items: flex-start;
  }

  &__content--column-top {
    justify-content: flex-start;
  }

  &__content--set-height {
    height: 100%;
  }

  &__content--nowrap {
    flex-wrap: nowrap;
  }

  &__title {
    align-self: center;
    display: flex;
    max-width: 1160px;
    padding-bottom: 1em;
    padding-left: 0;
    padding-top: 2em;
  }
}

@media (min-width: 720px) {
  .#{$block-name} {
    &__title {
      padding-left: 2em;
      width: 100%;
    }
  }
}

@media (max-width: 500px) {
  .#{$block-name} {
    &__content--mobile-column {
      flex-direction: column;
    }

    &__content--mobile-column img {
      padding-bottom: 1em;
    }

    &__content--mobile-wrap {
      flex-wrap: wrap;
    }

    &__content--mobile-center {
      align-items: center;
    }

    img + p {
      margin-left: 0;
    }

    &__content--mobile-center p {
      text-align: center;
    }
  }
}
