$content-max-width: 1080px;

.mason-section {
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 100%;

  &__content {
    align-items: left;
    align-self: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    max-width: $content-max-width;
    overflow: hidden;
    padding: 2em;
    width: 100%;
  }

  &__content--column {
    flex-direction: column;
  }

  &__content--center {
    align-items: center;
    justify-content: center;
  }

  &__content--set-height {
    height: 100%;
  }

  &__title {
    align-self: center;
    display: flex;
    max-width: 1160px;
    padding-bottom: 1em;
    width: 100%;
  }
}
